@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {

  .main-page-wrapper {
    @apply flex min-h-screen flex-col items-center pb-32 leading-7 text-black md:pb-8 dark:text-white
  }
  .main-page-wrapper > h1 {
    @apply pt-8 md:pt-16
  }

  .size-xxl {
    @apply mb-6 w-full text-3xl font-bold;
  }

  .size-xl {
    @apply mb-1.5 mt-6 w-full text-2xl font-medium;
  }

  .size-lg {
    @apply mb-1 mt-4 w-full text-xl;
  }

  .description {
    @apply mb-4 text-neutral-700 dark:text-neutral-300;
  }
}
