@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .size-xxl {
    @apply text-3xl w-full font-bold mb-6
  }

  .size-xl {
    @apply text-2xl w-full mt-6 mb-1.5 font-medium
  }

  .size-lg {
    @apply text-xl w-full mt-4 mb-1
  }
}
